body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

a {
    text-decoration: none;
    color: #252525;
}


.center {
    text-align: center;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
}

.list-question {
    width: 100%;
    max-width: 590px;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    cursor: pointer;
}

.dashboard-question {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    cursor: pointer;
}

.dashboard-question-info {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.dashboard-question-info span {
    font-weight: bold;
}

.selected {
    font-weight: bold;
}

.question-page-author-info {
    height: 75px;
}

.question-page-author-info  p {
    height: 75px;
    vertical-align: middle;
    display: inline-block;
}

.btn {
    text-transform: uppercase;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.29);
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    width: 75%;
    position: relative;
}

.btn:hover {
    border-color: rgba(0,0,0,.5);
    text-decoration: none;
}

.btn:focus {
    outline: 0;
    font-weight: 700;
    border-width: 2px;
}

.submit-btn {
    text-transform: uppercase;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.29);
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    width: 100px;
    position: relative;
}

.votes {
    display: inline-block;
    width: 20%;
    font-size: 0.75em;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}

.new-question {
    width: 100%;
    max-width: 590px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.textarea {
    border-radius: 2px;
    border: 1px solid #dad7d7;
    padding: 10px;
    height: 1em;
    margin: 10px 0;
}

.leaderboard-list {
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
}

.leaderboard-info {
    display: flex;
    flex-direction: row;
}

.leaderboard-user-stats {
    width: 100%;
}

.leaderboard-user-stats span {
    margin: 5px 0;
}

.start {
    text-align: start;
    width: 120px;
    display: inline-block;
}

.leadboard-stats {
    display: inline-block;
    width: 20%;
    font-size: 0.75em;
    vertical-align: middle;
    text-align: center;
}

.leaderboard li {
    padding: 0px;
}
